*, 
*:before, 
*:after {
  box-sizing: border-box;
}
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6 pre, ul, ol, li, dl, dt dd, form, a fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
  width: 100%;
  background-color: #eecccc;
}

ul, ol {
  list-style: none;
}

img {
  border: 0;
}