.user-search {
    position: relative;
    width: calc(50% - 15px);
    height: 60px;
    left: 10px;
    /* top: 10px; */
    margin-top: 10px;
    margin-right: 10px;

    background-color: #eeeeee;
    box-shadow: 0 0 5px -5px #696969;
    border-radius: 3px 3px 0px 0px;

    font-family: 'lato', Arial, Helvetica, sans-serif;
    /* color: #333333; */
    font-size: 1.2em;

    overflow: hidden;
}
#name-form {
    height: 100%;
    width: 100%;
}
#name-input {
    position: relative;
    display: block;
    float: left;
    margin-left: 24px;

    background-color: #eeeeee;

    height: 100%;
    width: calc(100% - 224px);

    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    font-weight: 300;
}
#name-submit {
    position: relative;
    display: block;
    float: left;

    background-color: #666666;
    color: #dddddd;

    height: 100%;
    width: 200px;

    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    font-weight: 400;
}
#name-submit:hover {
    cursor: pointer;
    background-color: #595959;
}

/* ========== User panel ========= */

.user-panel {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: calc(100% - 20px);
    width: calc(50% - 15px);

    border-radius: 3px;
    background-color: white;

    overflow: hidden;
    /* overflow-y: scroll; */
}
.hidden-panel {
    visibility: hidden;
    display: none;
}
.single-header {
    position: relative;
    width: 100%;
    height: 60px;

    background-color: #eeeeee;

}
.header-username {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: calc(100% - 110px);
    line-height: 60px;

    font-size: 1.25em;
    white-space: pre;
    font-weight: 300;
}
.header-username > span {
    position: relative;
    display: inline-block;
}
.header-username > span:nth-child(1) {
    margin-left: 50px;
}
.header-username > span:nth-child(2) {
    width: 200px;
}
.header-username > span:nth-child(even) {
    font-weight: 400;
}
.panel-menu {
    position: relative;
    display: block;
    height: 60px;
    width: 100%;
    margin-top: 10px;

}
.panel-button {
    position: relative;
    display: block;
    float: left;
    width: calc(50% - 30px);
    height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;

    border: 2px solid #666666;
    border-radius: 5px;
    
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 60px;
}
.panel-button.panel-inactive:hover {
    cursor: pointer;
    background-color: #dfdfdf;
}
.panel-button.panel-active {
    border: 2px solid #ffffff;
    background-color: #444444;
    color: #ffffff;
}
.contact-menu {
    position: relative;
    width: 100%;
}
.auto-send {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 60px;

    font-size: 1.25em;
    line-height: 60px;
    text-align: center;
}
.auto-send.sent-auto {
    background-color: #efaaaa;
}
.auto-send.unsent-auto {
    background-color: #caefaa;
}
.custom-send {
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 80px);
    min-height: 250px;
    margin: 10px 40px;

    border-radius: 7px;
    background-color: #eeeeee;

    overflow: hidden;
}
#response-form {
    position: relative;
    width: 100%;
    height: 100%;
}
#message-submit {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;

    color: #efefef;
    background-color: #666666;

    line-height: 50px;
    font-size: 1.2em;
}
#message-submit:hover {
    background-color: #595959;
    cursor: pointer;
}
#message-input {
    position: relative;
    display: block;
    width: calc(100% - 80px);
    height: 180px;
    margin: 40px 40px 0 40px;

    background-color: #eeeeee;
}

