.user-wrap {
    position: absolute;
    height: 100vh;
    /* width: calc(100vw - 10vh); */
    width: 100vw;
    top: 120px;
    left: 0;

    border: 1px solid #111111;
    background-color: #222222;
    overflow: hidden;
}