.all-user-tiles {
    position: relative;
    width: calc(50% - 15px);
    height: calc(100% - 80px);
    overflow-y: scroll;
    margin-left: 10px;
}
.user-tile {
    position: relative;
    width: calc(100% - 10px);
    height: 60px;
    /* left: 10px; */
    /* top: 10px; */
    margin-top: 10px;
    /* margin-right: 10px; */

    background-color: #eeeeee;
    box-shadow: 0 0 5px -5px #696969;
    border-radius: 3px;

    font-family: 'lato', Arial, Helvetica, sans-serif;

    overflow: hidden;
}
.user-tile:hover {
    cursor: pointer;
    background-color: #d0d0d0;
}

.user-risk {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: 110px;
    line-height: 60px;
    text-align: center;
    
    font-size: 1.5em;
    font-weight: 500;
}
.user-risk.high {
    background-color: #dd5555;
    color: #fad4d4;
}
.user-risk.medium {
    background-color: #e47d41;
    color: #f0cdb9
}
.user-risk.low {
    background-color: #217a21;
    color: #adebad
}
.user-name {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    width: calc(100% - 110px);
    line-height: 60px;

    font-size: 1.05em;
    white-space: pre;
    font-weight: 300;
}
.user-name > span {
    position: relative;
    display: inline-block;
}
.user-name > span:nth-child(1) {
    margin-left: 20px;
}
.user-name > span:nth-child(2) {
    width: 200px;
    font-weight: 400;
}
.user-name > span:nth-child(4) {
    width: 70px;
}